.secondfuniturecard {
  width: 30%;
  border-radius: 20px;
  background: rgba(237, 237, 237, 0.6);
  height: 25vh;
  overflow: hidden;
  padding-inline: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: 0.15s;
}

.secondfuniturecard:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px,
    rgba(27, 31, 35, 0.2) 0px 2px 2px 0px;
}

.cardPhoto img {
  width: 100%;
}
